body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 800px) {
	.solo_pc {
		display: none !important;
	}
	h1 {
		font-size: 11vw;
	}
}
@media only screen and (min-width: 801px) {
	.solo_movil {
		display: none !important;
	}
	h1 {
		font-size: 8vw;
	}
}
h1 {
    text-align: center;
    font-weight: bolder;
	cursor: default;
	white-space: nowrap;
	overflow: hidden;
}
h1 img {
	vertical-align: bottom;
}
nav {
	background-color: rgba(0,0,0,0.4);
}
section {
	margin-left: 10px;
	margin-right: 10px;
	@media only screen and (max-width: 800px) {
	    background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 25vh);
		height: 25vh;
	}
	@media only screen and (min-width: 801px) {
	    background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 90%);
	}
    border-radius: 30px 30px 0px 0px;
	display: inline-block;
	vertical-align: top;
}
h2 {
    color: rgba(0,0,0,0.3);
    cursor: default;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0.3) 100%);
    border-radius: 30px 30px 0px 0px;
	padding: 8px;
	font-weight: bolder;
}

.puntero {
	cursor: pointer;
}

/* Botones */

button, .button {
	border: 1px solid black;
	border-radius: 15px;
	font-size: 18px;
	transition: all 0.5s ease;
	padding: 3px 10px 3px 10px;
}

button:not(:disabled):hover, .button:not(:disabled):hover {
	color: white;
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8);
	border: 0;
	transform: scale(1.2);
}

button:disabled, .button:disabled {
	color: white;
    background: linear-gradient(to bottom, white, gray);
}

button:disabled:hover, .button:disabled:hover {
	color: gray;
}	

button, .button, .sombra, .modal-content {
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}

.cerrar {
	font-size: 0.9em;
	padding: 0;
	padding-left: 2px;
	padding-right: 2px;
}

/* COLORES */

.rojo, .principiante {
    background: linear-gradient(to bottom, white, red);
    color: black;
}
button:hover:not(:disabled).rojo {
	background: linear-gradient(to bottom, white, pink, white);
}
.naranja, .aficionado {
    background: linear-gradient(to bottom, white, orange);
    color: black;
}
button:hover:not(:disabled).naranja {
	background: linear-gradient(to bottom, white, yellow, white);
}
.amarillo, .experto {
    background: linear-gradient(to bottom, white, yellow);
    color: black;
}
.verde, .maestro {
    background: linear-gradient(to bottom, white, Lime);
    color: black;
}
.verde_oscuro {
    background: linear-gradient(to bottom, white, #008040);
    color: white;
}
button:hover:not(:disabled).verde {
	background: linear-gradient(to bottom, white, lightgreen, white);
}
.azul, .maestro_internacional {
    background: linear-gradient(to bottom, white, deepskyblue);
    color: black;
}
button:hover:not(:disabled).azul {
	background: linear-gradient(to bottom, white, #AAEEFF, white);
}
.anyil, .gran_maestro {
    background: linear-gradient(to bottom, white, blue);
    color: black;
}
.violeta, .campeon_del_mundo {
    background: linear-gradient(to bottom, white, purple);
    color: black;
}
.negro {
    background: linear-gradient(to bottom, gray, black);
    color: lightgray;
}
button:hover:not(:disabled).negro {
	background: linear-gradient(to bottom, white, darkgray, white);
}
.gris {
    background: linear-gradient(to bottom, white, gray);
    color: black;
}
.blanco {
    background: linear-gradient(to bottom, white, lightgray);
    color: black;
}
.marron {
    background: linear-gradient(to bottom, #d14a41, #401401);
    color: white;
}

.borde-negro {
    text-shadow: -1.5px 0px black, 0px 1.5px black, 1.5px 0px black, 0px -1.5px black, -1.5px -1.5px black, 1.5px 1.5px black, 1.5px -1.5px black, -1.5px 1.5px black;
}
.borde-blanco {
    text-shadow: -1.5px 0px white, 0px 1.5px white, 1.5px 0px white, 0px -1.5px white, -1.5px -1.5px white, 1.5px 1.5px white, 1.5px -1.5px white, -1.5px 1.5px white;
}

/* Texto */

.texto {	/* Debe estar después de los colores */
    -webkit-background-clip: text;
    color: transparent;
	display: inline-block;
	transition: transform 1s ease-in-out;
}
.letra_impar {
	transform: rotate(6deg);
}
.letra_par {
	transform: rotate(-6deg);
}
.pais option {
	background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
}
            
/* SALA */

.jugador {
	color: darkslategray;
	font-size: 20px;
	font-weight: bold;
}
section li div {
	display: inline-block;
	width: 300px;
	text-align: left;
}
.jugador img {
	border: 1px solid black;
}
.info_jugador {
	border-radius: 5px;
	line-height: 1;
	font-size: 10px;
	font-weight: bold;
	padding-right: 2px;
	margin: 0px 4px 6px 2px;
	border: 1px solid black;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
}
.no_registrado {
	padding-right: 0px;
}
.puntos {
	vertical-align: text-bottom;
}
.away { 
    vertical-align: super; 
    font-size: 8px;
    color: blue;
    display: inline-block;
    font-weight: bold;
}
.away > span {
	font-size: 9px;
}
#partidos li .material-icons {
	vertical-align: text-bottom;
	color: lightgray;
}
.carousel-inner {
	width: 76%;
	margin: auto;
}
.modal-dialog-scrollable .modal-body {
    overflow-y: hidden;
    height: 100%;
    padding: 0;
}
.modal-dialog-scrollable .bootbox-body {
	height: 100%;
}
.carousel-item {
	height: 450px;
}
.carousel-item img {
	margin-bottom: 20px;
}
.carousel-control-prev:hover, .carousel-control-next:hover {
    background: linear-gradient(to bottom, white, lightgray);
	color: white;
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8);
	border: 0;
	transform: scale(1.2);
}
#carouselControls {
	overflow: hidden;
}

/* JUEGO */

#juego {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	background-color: rgba(0,0,0,0.6); 
	z-index: 100;
	transition: all 1s;
	text-align: center;
}
#juego.hidden {
	opacity: 0;
	pointer-events: none;
}
@media only screen and (min-width: 960px) {
	#juego > div {
	    position: absolute;
		top: 50%; 
		width: 100%;
		transform: translate(0%, -50%);
	}
}
.reloj {
	display: inline-block;
	position: absolute;
	pointer-events: none;
	font-size: small;
	border-radius: 5px;
	padding-left: 1px;
	padding-bottom: 1px;
	padding-right: 2px;
    background: linear-gradient(to bottom, rgba(127,127,127,0.5), rgba(0,0,0,0.5));
    color: lightgray;
}
.reloj span {
	display: inline-block;
}
.reloj .material-icons {
	font-size: small;
}
.reloj > .jugador {
	color: white;
}
.bloque_tiempo {
	display: inline-block;
	position: absolute;
	pointer-events: none;
	font-size: small;
	border-radius: 5px;
	padding: 3px;
    background: linear-gradient(to bottom, rgba(127,127,127,0.5), rgba(0,0,0,0.5));
    color: white;
    line-height: 0.7;
}
.blancas {
	color: lightgray;
}
.negras {
	color: black;
}

/* LOADER */

.loader {
  margin-right: 5px;
  margin-bottom: -3px;
  box-sizing: border-box;
  display: inline-block;
  width: 15px; /* Ancho mantenido */
  height: 19px; /* Altura ajustada */
  border-top: 1.5px solid #222; /* Borde superior oscurecido */
  border-bottom: 1.5px solid #222; /* Borde inferior oscurecido */
  position: relative;
  background: linear-gradient(rgb(70, 70, 70) 7.5px, transparent 0) no-repeat; /* Fondo oscurecido */
  background-size: 0.75px 7.5px; /* Tamaño del fondo ajustado */
  background-position: 50% 0px;
  animation: spinx 5s linear infinite;
}
.loader:before, .loader:after {
  content: "";
  width: 12px; /* Ancho del elemento :before y :after */
  left: 50%;
  height: 7.5px; /* Altura del elemento :before y :after ajustada */
  position: absolute;
  top: 0;
  transform: translatex(-50%);
  background: rgba(0, 0, 0, 0.3); /* Fondo oscurecido */
  border-radius: 0 0 3.75px 3.75px; /* Borde del elemento :before y :after ajustado */
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0px;
  animation: lqt 5s linear infinite;
}
.loader:after {
  top: auto;
  bottom: 0;
  border-radius: 3.75px 3.75px 0 0; /* Borde del elemento :after ajustado */
  animation: lqb 5s linear infinite;
}
@keyframes lqt {
  0%, 100% {
    background-image: linear-gradient(rgb(70, 70, 70) 7.5px, transparent 0); /* Fondo oscurecido */
    background-position: 0% 0px;
  }
  50% {
    background-image: linear-gradient(rgb(70, 70, 70) 7.5px, transparent 0); /* Fondo oscurecido */
    background-position: 0% 7.5px; /* Posición del fondo ajustada */
  }
  50.1% {
    background-image: linear-gradient(rgb(70, 70, 70) 7.5px, transparent 0); /* Fondo oscurecido */
    background-position: 0% -7.5px; /* Posición del fondo ajustada */
  }
}
@keyframes lqb {
  0% {
    background-image: linear-gradient(rgb(70, 70, 70) 7.5px, transparent 0); /* Fondo oscurecido */
    background-position: 0 7.5px; /* Posición del fondo ajustada */
  }
  100% {
    background-image: linear-gradient(rgb(70, 70, 70) 7.5px, transparent 0); /* Fondo oscurecido */
    background-position: 0 -7.5px; /* Posición del fondo ajustada */
  }
}
@keyframes spinx {
  0%, 49% {
    transform: rotate(0deg);
    background-position: 50% 6.75px; /* Posición del fondo ajustada */
  }
  51%, 98% {
    transform: rotate(180deg);
    background-position: 50% 0.75px; /* Posición del fondo ajustada */
  }
  100% {
    transform: rotate(360deg);
    background-position: 50% 6.75px; /* Posición del fondo ajustada */
  }
}

/* CHAT */

#contenedor_chat {
	width: 450px;
	@media only screen and (min-width: 801px) {
		height: 520px;
	}
	@media only screen and (max-width: 800px) {
		height: 400px;
	}
	background: linear-gradient(to bottom, rgba(100,155,100,0.6) 0%, rgba(20,41,20,0.5) 100%);
	border-radius: 30px;
	padding: 10px;
	padding-bottom: 45px; /* Espacio para el input */
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	color: white;
    box-sizing: border-box;
    overflow: hidden;
    display: inline-block;
    position: relative;
}
#chat {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
}
#contenedor_chat input[type='text'] {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100%);
    background-color: rgba(255,255,255,0.1);
    border: none;
    outline: none;
    padding: 10px;
    padding-left: 20px;
    color: white;
}
#contenedor_chat button {
    position: absolute;
    bottom: 8px;
    right: 10px;
}
#chat small {
	font-weight: bold;
	padding: 2px;
	padding-top: 1px;
	border-radius: 3px;
	vertical-align: sub;
}
.mensaje {
	clear: both;
}
.mensaje .jugador {
	color: white !important;
	vertical-align: sub !important;
}
.mensaje .span_texto {
	vertical-align: sub;
}
.mensaje_mio {
	position: relative;
	float: right;
	margin-left: 50px;
	background-color: SeaGreen;
	border-radius: 10px;
	padding: 5px;
	padding-top: 0px;
}
.mensaje_rival {
	position: relative;
    float: left;
	margin-right: 50px;
    background-color: DimGray;
	border-radius: 10px;
	padding: 5px;
	padding-top: 0px;
}

/* BootBox */

input:invalid {
	border-color: red;
	background-image: linear-gradient(to right, pink, white);
}
.nav-link {
	color: black;
}
.nav-item .active {
	color: #007bff !important;
}
.modal-content {
	background-color: rgba(240, 240, 250, 0.9) !important;
}
.modal-footer, .modal-header {
	background-color: rgba(240, 240, 250, 0.8) !important;
}
.modal-header {
	color: darkblue;
}
.modal-title .material-icons {
	vertical-align: sub;
}
.tab-content {
	border: solid#dee2e6;
	border-width: 0px 1px 1px 1px;
	padding: 15px;
}

/* Bootstrap */

.btn:disabled,
.btn[disabled] {
    background-color: #ccc;
    border-color: gray;
    color: #555;
    opacity: 0.7;
}

/* Material Icons */

.material-icons.md-12 { font-size: 12px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
button .material-icons {
	vertical-align: sub;
}
.modal-body .material-icons {
	vertical-align: text-top;
}
